@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
}
a:visited {
    color: white;
    text-decoration: none;
}

button {
    color: black;
}

nav {
    display: block;
    background-color: #701e20;
    padding: 10px 20%;
    margin: 0 auto 5% auto;
    display: flex;
}

nav a {
    display: inline;
    width: 33.3vw;
    margin: 0 0%;
    font-size: 20px;
    padding: 0;
    text-align: center;
    flex-wrap: wrap;
}

.intro {
    text-align: center;
}

.intro img {
    display: block;
    margin: 1% auto;
    width: 250px;
}

.intro h1 {
    margin-top: 5%;
    font-size: 30px;
}

.intro h3 {
    font-size: 20px;
}

form {
    padding-left: 42%;
}

form label {
    display: inline-block;
    width: 5vw;
}

form input {
    width: 200px;
}

form input[type="submit"] {
    width: 150px;
    height: 40px;
    margin-left: 3vw;
}

table {
    border-collapse: collapse;
    width: 96%;
    margin: 0 2%;
    text-align: center;
    font-size: 0.8rem;
}

th {
    border-bottom: 2px #2f2f2f solid;
}

th, td {
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.fa-times {
    font-size: 40px !important;
}

#report-header {
    display:flex;
    margin-bottom: 2vh;
}

#report-header a {
    width: 20vw;
}

#report-header img {
    width: 60px;
    height: 50px;
    margin: 1vw 5vw 0vw 15vw;
    text-align: center;
}

#report-header div {
    display: flex;
    width: 60vw;
    text-align: center;
    margin: auto;
}

#report-header div h1 {
    font-size: 1.25rem;
    margin-top: 1vw;
}

#report-header div h1 span {
    font-size: 1rem;
}

#report-header a {
    color: black;
    width: 20vw;
    margin: auto;
    text-align: center;
}

#edit-review {
    color: black;
    padding: 0;
}

form a {
    color: black;
}

#review-edit-form {
    margin-left: 42%;
}

#review-edit-form a {
    color: black;
}
