<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Digital Class Completion Report</title>
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
    <header>
        <nav>
            <img src="https://1.bp.blogspot.com/-Y2Mqj01Rx7o/WIQaMix1MjI/AAAAAAAAFAY/HnvQGqbnbjMBeYINyo_c3fClBvZPPvv9ACLcB/s1600/kvs-logo.png">
            <a href="">Submit Report</a>
            <a href="">View Report</a>
        </nav>
        <img src="https://1.bp.blogspot.com/-Y2Mqj01Rx7o/WIQaMix1MjI/AAAAAAAAFAY/HnvQGqbnbjMBeYINyo_c3fClBvZPPvv9ACLcB/s1600/kvs-logo.png" alt="logo">
        <h1>Kendriya Viduyala No.2, Armapur, Kanpur</h1>
        <h3>Digital Classes Completion Report</h3>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>
