{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Digital Class Completion Report</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'submit_report' %}">Submit Report</a>
            <a href="{% url 'report_home' %}">View Report</a>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
</body>
</html>
